<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangyan.management.system.mapper.SysRoleResourceMapper">
    <resultMap type="com.zhangyan.management.system.entity.SysRoleResource" id="SysRoleResourceResult">
        <result property="roleId"    column="role_id"    />
        <result property="resourceId"    column="resource_id"    />
    </resultMap>

    <sql id="Base_Column_List">
        select role_id, resource_id from sys_role_resource
    </sql>

    <sql id="Base_Condition">
        <trim prefix="WHERE" prefixOverrides="AND | OR">
        </trim>
    </sql>

    <sql id="Base_ConditionT">
        <trim prefix="WHERE" prefixOverrides="AND | OR">
        </trim>
    </sql>

    <insert id="insert" parameterType="com.zhangyan.management.system.entity.SysRoleResource">
        insert into sys_role_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="roleId != null">role_id,</if>
                    <if test="resourceId != null">resource_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                    <if test="roleId != null">#{roleId},</if>
                    <if test="resourceId != null">#{resourceId},</if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="com.zhangyan.management.system.entity.SysRoleResource">
        insert into sys_role_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="roleId != null">role_id,</if>
                    <if test="resourceId != null">resource_id,</if>
        </trim>
        value
        <foreach item="item" index="index" collection="sysRoleResources" separator=",">
            (
                    <if test="roleId != null">#{roleId},</if>
                    <if test="resourceId != null">#{resourceId},</if>
            )
        </foreach>
    </insert>

    <select id="getById" resultType="com.zhangyan.management.system.entity.SysRoleResource">
        <include refid="Base_Column_List"/>
        <where>
        role_id = #{roleId}
        </where>
    </select>

    <update id="updateById" parameterType="com.zhangyan.management.system.entity.SysRoleResource">
        update sys_role_resource
        <trim prefix="SET" suffixOverrides=",">
                    <if test="resourceId != null">resource_id = #{resourceId},</if>
        </trim>
        where role_id = #{roleId}
    </update>
    <select id="list" resultType="com.zhangyan.management.system.entity.SysRoleResource">
        <include refid="Base_Column_List"/>
        <include refid="Base_Condition" />
    </select>

    <select id="datas" resultType="com.zhangyan.management.system.entity.SysRoleResource">
        <include refid="Base_Column_List"/>
        <include refid="Base_ConditionT" />
    </select>
</mapper>