package ${packageName}.mapper;

import ${packageName}.entity.${ClassName};
import ${packageName}.pojo.${ClassName}Param;
import ${packageName}.pojo.${ClassName}DelParam;
import org.apache.ibatis.annotations.Param;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

import java.util.List;
/**
 * ${functionName}Mapper接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Mapper extends BaseMapper {

    /**
     * 获取${functionName}详细信息
     */
     ${ClassName} getById(String ${pkColumn.javaField});

    /**
     * 新增${functionName}
     */
    int insert(@Param(${ClassName} ${className});

    /**
     * 新增${functionName}
     */
    int insertBatch(List<${ClassName}> ${className}s);

    /**
     * 修改${functionName}
     */
    int updateById(${ClassName} ${className});

##    /**
##     * 批量修改${functionName}
##     */
##    int updateBatchById(@Param("${className}s") List<${ClassName}> ${className}s);

    /**
     * 分页查询${functionName}
     */
    IPage<${ClassName}> list(IPage<${ClassName}> page, @Param("${className}Param") ${ClassName}Param ${className}Param);

    /**
     * 不分页查询${functionName}
     */
    List<${ClassName}> datas(${ClassName}Param ${className}Param);
}